<center>
  <head>
    <title>Lab 5B Tic Tac Toe</title>
  </head>
  <h1><div style="color:purple" align="center">Tic-Tac-Toe Game #1</div></h1>
  <style>
    #myCanvas {
      border: 5px solid purple;
    }
  </style>
  <body background="http://ahdzbook.com/data/out/47/hdwp695842294.jpg">
    <center><canvas id="myCanvas" width="600" height="600"></canvas></center>
    <script>
      var canvas=document.getElementById("myCanvas");
      var context=canvas.getContext("2d");
      context.strokeStyle="purple";
      context.moveTo(200,20);
      context.lineTo(200,580);
      context.moveTo(400,20);
      context.lineTo(400,580);
      context.moveTo(20,200);
      context.lineTo(580,200);
      context.moveTo(20,400);
      context.lineTo(580,400);
      context.moveTo(20,20);
      context.lineTo(180,180);
      context.moveTo(180,20);
      context.lineTo(20,180);
      context.moveTo(420,20);
      context.lineTo(580,180);
      context.moveTo(580,20);
      context.lineTo(420,180);
      context.moveTo(20,420);
      context.lineTo(180,580);
      context.moveTo(180,420);
      context.lineTo(20,580);
      context.moveTo(420,420);
      context.lineTo(580,580);
      context.moveTo(580,420);
      context.lineTo(420,580);
      context.moveTo(220,220);
      context.lineTo(380,380);
      context.moveTo(380,220);
      context.lineTo(220,380);
      context.lineWidth=5;
      context.stroke();
      context.moveTo(380,100)
      var x=300, y=100, radius=80, angle=2*Math.PI;
      context.arc(x, y, radius, 0, angle);
      context.lineWidth=5;
      context.stroke();
      context.moveTo(380,500)
      var x=300, y=500, radius=80, angle=2*Math.PI;
      context.arc(x, y, radius, 0, angle);
      context.lineWidth=5;
      context.stroke();
      context.moveTo(180,300)
      var x=100, y=300, radius=80, angle=2*Math.PI;
      context.arc(x, y, radius, 0, angle);
      context.lineWidth=5;
      context.stroke();
      context.moveTo(580,300)
      var x=500, y=300, radius=80, angle=2*Math.PI;
      context.arc(x, y, radius, 0, angle);
      context.lineWidth=5;
      context.stroke();
    </script>
  </body>
</html>
