body {
  background-color: black;
}
.container {
  background-color: black;
  border: 10px dashed #4b2e83;
  width: 560px
}
.panel {
  margin: 20px auto;
  width: 500px;
  background-color: white;
  border-radius:10px;
}
.panel-title {
  text-align: center;
  border-radius:10px;
  background-color: #f2f2f2;
}
#even {
  background-color: white;
  color: black;
}
#odd {
  background-color: lightgray;
  color: black;
}
.pic {
  padding: 10px;
}
