body {
  background-color: black;
  margin: 20px auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.container {
  background-color: black;
  border: 10px solid #4b2e83;
  width: 1100px;
}
.panel {
  margin: 20px auto;
  width: 230px;
  background-color: white;
}
#uw {
  background-color: #4b2e83;
  color: white;
}
#uw-gold {
  background-color: #b7a57a;
  color: #4b2e83;
}
.panel-title {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}
.box{
    height: 250px;
    background-color: white;
    border: 1px solid #bdbdbd;
    -webkit-border-radius: 5px;
}
ul {
  padding: 5px;
  text-align:center;
}
button {
  background-color: #4b2e83;
  color: white;
  width: 180px;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
p {
  text-align: center;
  font-size: 10px;
}
