body {
  background-color: black;
}
.container {
  background: black;
  border: 10px solid #4b2e83;
  width: 400px;
}
.panel {
  background: white;
  border-radius: 5px;
  margin: 20px auto;
  width: 250px;
}
input {
  width: 60%;
}
button {
  width: 38%;
  text-align: center;
}
.control {
  padding: 3px;
}
ul{
  padding: 10px;
}
ul li:nth-child(odd) {
  background-color: #4b2e83;
  color: white;
  padding: 10px;
}
ul li:nth-child(even) {
  background-color: #b7a57a;
  color: #4b2e83;
  padding: 10px;
}
.panel-title {
  text-align: center;
  border-radius: 5px;
  background-color: lightgray;
}
/* Style the "Add" button */
.addBtn {
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 14px;
  cursor: default;
  transition: 0.3s;
}
