.swatch{
  background-color:rgba(255,255,0,1.0);
}
.swatch2{
  background-color:rgba(255,255,0,0.8);
}
.swatch3{
  background-color:rgba(255,255,0,0.7);
}
.swatch4{
  background-color:rgba(255,255,0,0.6);
}
.swatch5{
  background-color:rgba(255,255,0,0.5);
}
.swatch6{
  background-color:rgba(255,255,0,0.4);
}
.swatch7{
  background-color:rgba(255,255,0,0.3);
}
.swatch8{
  background-color:rgba(255,255,0,0.2);
}
.swatch9{
  background-color:rgba(255,255,0,0.1);
}
.swatch1{
  background-color:rgba(255,255,0,1.0);
}
.swatch2{
  background-color:rgba(255,255,0,0.8);
}
.swatch3{
  background-color:rgba(255,255,0,0.7);
}
.swatch4{
  background-color:rgba(255,255,0,0.6);
}
.swatch5{
  background-color:rgba(255,255,0,0.5);
}
.swatch6{
  background-color:rgba(255,255,0,0.4);
}
.swatch7{
  background-color:rgba(255,255,0,0.3);
}
.swatch8{
  background-color:rgba(255,255,0,0.2);
}
.swatch9{
  background-color:rgba(255,255,0,0.1);
}
.swatch{
  background-color:rgba(255,255,0,1.0);
}
.swatch2{
  background-color:rgba(255,255,0,0.8);
}
.swatch3{
  background-color:rgba(255,255,0,0.7);
}
.swatch4{
  background-color:rgba(255,255,0,0.6);
}
.swatch5{
  background-color:rgba(255,255,0,0.5);
}
.swatch6{
  background-color:rgba(255,255,0,0.4);
}
.swatch7{
  background-color:rgba(255,255,0,0.3);
}
.swatch8{
  background-color:rgba(255,255,0,0.2);
}
.swatch9{
  background-color:rgba(255,255,0,0.1);
}
.swatch10{
  background-color:hsla(60, 100%, 50%,0.9);
}
.swatch11{
  background-color:hsla(60, 100%, 50%,0.8);
}
.swatch12{
  background-color:hsla(60, 100%, 50%,0.7);
}
.swatch13{
  background-color:hsla(60, 100%, 50%,0.6);
}
.swatch14{
  background-color:hsla(60, 100%, 50%,0.5);
}
.swatch15{
  background-color:hsla(60, 100%, 50%,0.4);
}
.swatch16{
  background-color:hsla(60, 100%, 50%,0.3);
}
.swatch17{
  background-color:hsla(60, 100%, 50%,0.2);
}
.swatch18{
  background-color:hsla(60, 100%, 50%,0.1);
}
.swatch19{
  background-color:hsla(60, 100%, 50%,1.0);
}
