body {
  padding: 10px;
}
.container {
    background-color: white;
    border-color: black;
}
h1 {
  text-align: center;
  font-size: 630%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.jumbotron {
  background-color: white;
}
table.paragraphs {
  table-layout: fixed;
  text-align: center;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align:top;
}
.well{
    background-color: white;
}
p {
   font-size: 170%;
   text-align: center;
}
p.paragraphs, p.well {
  font-size: 16px;
}
hr {
  height: 3px;
  background: linear-gradient(to right, white, grey, darkgrey, #808080, #ffffff);
}
p.copyright {
  font-size: 150%;
}
