.red1,.red2,.red3,.red4,.red5,.red6,
.red7 {
  height:35px;
  width:700px;
  position:absolute;
  background:#cc3300;
}
.red2 {
  top:70px;
}
.red3 {
  top:140px;
}
.red4 {
  top:210px;
}
.red5 {
  top:280px;
}
.red6 {
  top:350px;
}
.red7 {
  top:420px;
}
.bluebox{
  background-color:rgb(0, 0, 255);
  width:260px;
  height:275px;
  padding-top:1em;
  padding-bottom:1em;
  padding-right:1em;
  padding-left:1em;
}
.stars{
    color:#ffffff;
    font-size:20px;
}
