body {
  padding: 10px;
}
h2 {
  text-align: center;
  font-size: 230%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#header {
  text-align: center;
  font-size: 300%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
p {
  text-align: center;
  font-size: 125%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#dataTable {
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  text-transform:uppercase;}
