/* file: earth_viewer.css */

body {
  background-color: black;
}

.container {
  background-color: black;
  padding-top: 10px;
}

input#search_date {
  width: 100px;
}

img.highres {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto
}

div#image-grid {
  /*border: 3px dashed green;*/
}

.form-inline {
  /*border: 2px solid yellow;*/
  text-align: center;
}

div.panel-title {
  text-align: center;
  font-size: 20pt;
}

div.image-caption {
  border: 2px solid gray;
  text-align: center;
  height: 25px;
}

div.image-coords {
  border: 2px solid gray;
  text-align: center;
  height: 25px;
}

div.nasa-image {
  width: 100%;
  height: 225px;
  background-color: white;
  margin: 0px auto 0px auto;
  background: gray;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}

div.nasa-image img {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

div.nasa-image:hover {
  border: 3px solid rgb(51, 0, 111);
}
