body {
  padding: 10px;
}
h2 {
  text-align: center;
  font-size: 230%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: grey;
}
.jumbotron, .container{
  text-align: center;
}
