body, #button {
  padding: 10px;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  text-transform:uppercase;
}
#header {
  text-align: center;
  font-size: 300%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#headerTable{
  text-align: right;
  font-weight: bold;
}
#dataTable {
  text-align: justify;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
td:nth-child(even) {
  background-color: white;
}
td:nth-child(odd) {
  background-color: #61b9d8;
}
#button {
  background-color: white;
}
