body {
  padding: 10px;
}
.container {
    background-color: white;
    border-color: black;
}
h2 {
  text-align: center;
  font-size: 330%;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.jumbotron {
  background-color: white;

hr {
  height: 3px;
  background: linear-gradient(to right, white, grey, darkgrey, #808080, #ffffff);
}
